// Шрифты

@font-face {
   font-family: "Montserrat-Bold";
   font-style: bold;
   font-weight: 700;
   src: local("Montserrat-ExtraBold"), url("../fonts/Montserrat-ExtraBold.woff") format("woff");
}

@font-face {
   font-family: "Montserrat-SemiBold";
   font-style: bold;
   font-weight: 700;
   src: local("Montserrat-SemiBold"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
}

@font-face {
   font-family: "Montserrat-Regular";
   font-style: normal;
   font-weight: 500;
   src: local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
   font-family: "Montserrat-Light";
   font-style: normal;
   font-weight: 400;
   src: local("Montserrat-ExtraLight"), url("../fonts/Montserrat-ExtraLight.woff") format("woff");
}

@font-face {
   font-family: "Montserrat-Thin";
   font-style: normal;
   font-weight: 400;
   src: local("Montserrat-Thin"), url("../fonts/Montserrat-Thin.woff") format("woff");
}

@font-face {
   font-family: "Judith Deco";
   font-style: normal;
   font-weight: 400;
   src: local("Judith Deco"), url("../fonts/judith-deco.woff2") format("woff2"),
      url("../fonts/judith-deco.woff") format("woff");
}

// Стили
html {
   font-family: "Montserrat-Regular";
}

a {
   text-decoration: none;
   color: black;
}

li {
   list-style: none;
}

body {
   background-color: rgb(240, 240, 240);
   height: 100%;
}

main {
   flex: 1 1 auto;
}

.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
}

.container {
   max-width: 1140px;
   margin: 0 auto;
}

.header-engine {
   background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/1.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   max-height: 100vh;
   width: 100%;
}

.header {
   &__nav {
      background-color: rgb(200, 200, 200);
      padding: 8px 8px 8px 8px;
   }
   &__logo {
      padding-right: 30px;
      font-size: 25px;
   }
   &__list {
      display: flex;
      justify-content: center;
      align-items: center;
   }
   &__item {
      padding-left: 15px;
   }
   &__link {
      font-size: 16px;
      color: black;
      font-family: "Montserrat-Bold";
      text-transform: uppercase;
      transition: color 0.3s;
   }
   &__link:hover {
      color: white;
   }
}

.desc {
   font-family: "Montserrat-Regular";
   font-size: 15px;
   color: white;
   text-align: center;
   text-transform: uppercase;
   padding-top: 15em;
   padding-bottom: 15em;
   &__service {
      font-family: "Montserrat-Bold";
      font-size: 50px;
      padding-bottom: 10px;
      padding-top: 10px;
   }
   &__bold {
      font-size: 18px;
      font-family: "Montserrat-Bold";
   }
}

.parthers {
   &__title {
      font-family: "Montserrat-Bold";
      font-size: 40px;
      text-transform: uppercase;
      text-align: center;
      margin-top: 50px;
   }
   &__list {
      display: flex;
      justify-content: space-between;
      text-transform: uppercase;
      font-size: 16px;
      padding-top: 35px;
      padding-bottom: 35px;
   }
   &__link-name::after {
      background-color: black;
      display: block;
      content: "";
      height: 1px;
      width: 0%;
      -webkit-transition: width 0.3s ease-in-out;
      -moz--transition: width 0.3s ease-in-out;
      transition: width 0.3s ease-in-out;
   }
   &__link-name:hover::after,
   &__link-name:focus::after {
      width: 100%;
   }
}

.work {
   display: flex;
   justify-content: space-between;
   margin-top: 55px;
   &__title {
      font-family: "Montserrat-Bold";
      font-size: 40px;
      text-align: center;
      text-transform: uppercase;
      margin-top: 35px;
   }
   &__type {
      padding: 15px 15px 15px 15px;
      width: 215px;
      height: 300px;
      border-radius: 3px;
      border: 0.2px solid rgb(210, 210, 210);
      transition: box-shadow 0.3s, transform 0.3s;
   }
   &__type:hover {
      transform: translateY(3px);
      box-shadow: 0px 5px 10px 0px gray;
   }
   &__name {
      font-family: "Montserrat-SemiBold";
      font-size: 22px;
      text-transform: uppercase;
      padding-bottom: 20px;
   }
   &__list {
      font-family: "Montserrat-Regular";
      li {
         position: relative;
         padding-bottom: 35px;
         padding-left: 35px;
      }
      li::before {
         content: "";
         background: url("../img/1.svg") no-repeat center;
         position: absolute;
         width: 25px;
         height: 25px;
         left: 0;
         top: 20%;
         transform: translateY(-50%);
      }
   }
   &__link {
      transition: color 0.3s;
   }
   &__link:hover {
      color: gray;
   }
}

.work-type {
   font-size: 20px;
   text-transform: uppercase;
   display: flex;
   justify-content: space-evenly;
   a::after {
      background-color: black;
      display: block;
      content: "";
      height: 1.5px;
      width: 0%;
      -webkit-transition: width 0.3s ease-in-out;
      -moz--transition: width 0.3s ease-in-out;
      transition: width 0.3s ease-in-out;
   }
   a:hover::after,
   a:focus::after {
      width: 100%;
   }
}

.clients {
   &__title {
      font-family: "Montserrat-Bold";
      font-size: 40px;
      margin-top: 70px;
      text-align: center;
      text-transform: uppercase;
   }
   &__list {
      font-family: "Montserrat-Regular";
      font-size: 14px;
      padding-top: 50px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 70px 70px 70px 70px 70px;
      column-gap: 50px;
   }
   &__link-name {
      transition: color 0.3s ease-in-out;
   }
   &__link-name:hover {
      color: rgb(160, 160, 160);
   }
}

.map-text {
   font-family: "Montserrat-Bold";
   font-size: 40px;
   text-align: center;
   text-transform: uppercase;
   margin-bottom: 40px;
}

.footer {
   width: 100%;
   background: rgb(95, 95, 95);
   margin-top: 50px;
   &__list {
      display: grid;
      row-gap: 8px;
      font-family: "Montserrat-Thin";
      color: white;
      padding-top: 22px;
      padding-bottom: 22px;
   }
   &__link {
      color: white;
   }
}

.repair {
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 12em;
   display: grid;
   grid-template-columns: 1fr 1fr;
   row-gap: 30px;
   margin-top: 70px;
   padding: 20px;
   border-radius: 25px;
   color: white;
   transition: 0.3s ease-in-out;
   &__title {
      font-size: 40px;
      font-family: "Montserrat-Bold";
      text-transform: uppercase;
      max-width: 400px;
      grid-row: 1 / 3;
   }
}

.repair:hover {
   transform: scale(1.05);
}

.all-terrain {
   background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bv206.jpg");
}

.egine {
   background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../img/shtaer.jpg");
}

.svp {
   background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hivus.JPG");
}

// вездеходы
.advantage {
   background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/mud.jpeg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   max-height: 100vh;
   width: 100%;
   color: white;
   &__title {
      font-family: "Montserrat-Bold";
      font-size: 40px;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 60px;
      padding-top: 40px;
   }
   &__image {
      border-radius: 50%;
   }
   &__item-first {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__item-second {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 40px;
   }
   .image-second {
      margin-left: 150px;
   }
   .image-first {
      margin-right: 150px;
   }
}
